<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>Spotify Music Madness</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
    <center><h1 class="title">Spotify Music Madness</h1></center>
    <br>
    <div class="wrapper" id="app">
        <div class="content">
            <h2 class="content">What is Spotify Music Madness?</h2>
            Try it out!<br>
            Get one of the 80 newest songs on Spotify.<br>
            Open your mind and listen to all different kinds of music and discover new songs :)
            <br><br><br><br>
            <div class="gmas">
		    <button class="gmas" onclick="(function() { window.location.assign('/random'); })()">
                    Get me a Song!
                </button>
            </div>
        </div>
    </div>
    <footer class="foo">
        <center>
        <a href="/legal">Legal Notice (Imprint) & Data Protection Policy</a>
        </center>
    </footer>
</body>
</html>
