<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Music Madness Imprint</title>
    <link rel="stylesheet" href="imprint-styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <center><h1 class="title">Spotify Music Madness Imprint & Data protection policy</h1></center>
    <br>
    <div class="imprint">
        <h1 class="adsimple-321216416">Imprint 🇬🇧</h1>
        <p class="adsimple-321216416">Duty of information according to § 5 TMG.</p>
        <p class="adsimple-321216416">
        <p>Nico Sauter
        <p class="adsimple-321216416">Untere Dorfstraße 3, <br />85414 Kirchdorf, <br />Germany</p>
        <p class="adsimple-321216416">
        <strong>E-Mail:</strong> me(AT)nico-sauter.de
        </p>
        <p style="margin-top:15px;">Source: Created with the <a title="Impressum Generator Germany" href="https://www.adsimple.de/impressum-generator/" target="_blank" rel="follow" style="text-decoration:none;">Imprint Generator</a> by AdSimple in cooperation with <a href="https://www.justmed.de" target="_blank" rel="follow" title="">justmed.de</a>
        </p>
        <h2 class="adsimple-321216416">EU-Dispute Resolution Platform</h2>
        <p>According to the Ordinance on Online Dispute Resolution in Consumer Matters (ODR Ordinance) we would like to inform you about the Online Dispute Resolution Platform (OS Platform).<br />
        Consumers have the opportunity to submit complaints to the European Commission's online dispute resolution platform at <a class="adsimple-321216416" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=EN" target="_blank" rel="noopener">http://ec.europa.eu/odr?tid=321216416</a> You will find the necessary contact data above in our imprint.</p>
        <p> However, we would like to point out that we are not willing or obliged to participate in dispute resolution procedures before a consumer arbitration board.</p>
        <h2 class="adsimple-321216416">liability for contents of this website</h2>
        <p>We are constantly developing the contents of this website and strive to provide correct and up-to-date information. According to the German Telemedia Act <a class="adsimple-321216416" href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321216416" rel="noopener" target="_blank">(TMG) §7 (1)</a> we as a service provider are responsible for our own information, which we provide for use, according to the general laws. Unfortunately, we cannot assume any liability for the correctness of all contents on this website, especially for those provided by third parties. As a service provider within the meaning of §§ 8 to 10 we are not obliged to monitor the information you transmit or store or to investigate circumstances that indicate illegal activity.</p>
        <p>Our obligations to remove information or to block the use of information according to the general laws due to court or official orders remain unaffected even in the case of our non-responsibility according to §§ 8 to 10. </p>
        <p>If you notice problematic or illegal content, please contact us immediately so that we can remove the illegal content. You can find the contact details in the imprint.</p>
        <h2 class="adsimple-321216416">Liability for links on this website</h2>
        <p>Our website contains links to other websites for whose content we are not responsible. We are not liable for linked websites, because we had and have no knowledge of illegal activities, we have not noticed any such illegality and we would remove links immediately if we became aware of any illegality.
        <p>If you notice illegal links on our website, please contact us. You will find the contact details in the imprint.</p>
        <h2 class="adsimple-321216416">Copyright of pictures</h2>
        <p>The pictures, photos and graphics on this website are copyrighted by artists, their photographers or labels. I do not own the rights to the pictures.</p>
        <h1 class="adsimple-321216416">Data protection declaration</h1>
        <h2 class="adsimple-321216416">Data protection</h2>
        <p>We have written this privacy policy (version 27.09.2020-321216416) to explain to you, in accordance with the requirements of the <a class="adsimple-321216416" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=321216416" target="_blank" rel="noopener">Basic Data Protection Directive (EU) 2016/679</a>, what information we collect, how we use data and what choices you have as a visitor to this website.</p>
        <p>It is a pity that these explanations sound very technical, but we have tried to describe the most important things as simple and clear as possible.
        <h2 class="adsimple-321216416">Rights according to the basic data protection regulation</h2>
        <p>According to the regulations of the DSGVO, you have the following rights:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">right of rectification (article 16 DSGVO)</li>
        <li class="adsimple-321216416">Right of cancellation ("right to be forgotten") (Article 17 DSGVO)</li>
        <li class="adsimple-321216416">Right to restrict processing (Article 18 DSGVO)</li>
        <li class="adsimple-321216416">right to notification &#8211; obligation to notify in connection with the correction or deletion of personal data or the restriction of processing (Article 19 DSGVO)</li>
        <li class="adsimple-321216416">right to data transferability (article 20 DSGVO)</li>
        <li class="adsimple-321216416">right of objection (Article 21 DSGVO)</li>
        <li class="adsimple-321216416">right not to be subject to a decision based solely on automated processing - including profiling (Article 22 DSGVO)</li>
        </ul>
        <p>If you believe that the processing of your data violates the data protection law or your data protection rights have otherwise been violated in any way, you can contact the <a class="adsimple-321216416" class="321216416" href="https://www.bfdi.bund.de" target="_blank" rel="noopener">Federal Commissioner for Data Protection and Freedom of Information (BfDI)</a>.</p>
        <h2 class="adsimple-321216416">TLS encryption with https</h2>
        <p>We use https to transfer data tap-proof on the Internet (data protection through technology design <a class="adsimple-321216416" href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=321216416" target="_blank" rel="noopener">Article 25 paragraph 1 DSGVO</a>). By using TLS (Transport Layer Security), an encryption protocol for secure data transmission on the Internet, we can ensure the protection of confidential data. You can recognize the use of this protection of data transmission by the small lock symbol in the upper left corner of the browser and the use of the scheme https (instead of http) as part of our internet address.</p>
        <h2 class="adsimple-321216416">Google Fonts Privacy Policy</h2>
        <p>On our website we use Google Fonts. These are the &#8220;Google fonts&#8221; of the company Google Inc. For the European area the company Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Ireland) is responsible for all Google services.</p>
        <p>You do not need to log in or set a password to use Google fonts. Furthermore, no cookies are stored in your browser. The files (CSS, fonts) are requested via the Google domains fonts.googleapis.com and fonts.gstatic.com. According to Google, the requests for CSS and fonts are completely separate from all other Google services. If you have a Google Account, you do not need to worry about your Google Account information being submitted to Google while using Google Fonts. Google records the use of CSS (Cascading Style Sheets) and the fonts used and stores this information securely. We will see what exactly the data storage looks like in more detail later on.</p>
        <h3 class="adsimple-321216416">What are Google Fonts?</h3>
        <p>Google Fonts (formerly Google Web Fonts) is a directory with over 800 fonts, which <a class="adsimple-321216416" href="https://de.wikipedia.org/wiki/Google_LLC?tid=321216416">Google</a> provides its users free of charge.</p>
        <p>Many of these fonts are published under the SIL Open Font License, while others are published under the Apache License. Both are free software licenses.</p>
        <h3 class="adsimple-321216416">Why do we use Google Fonts on our website?</h3>
        <p>With Google Fonts we can use fonts on our own website, but we do not have to upload them to our own server. Google Fonts is an important component to keep the quality of our website high. All Google fonts are automatically optimized for the web and this saves data volume and is a great advantage especially for the use with mobile devices. If you visit our site, the low file size ensures a fast loading time. Furthermore, Google Fonts are secure web fonts. Different image synthesis systems (rendering) in different browsers, operating systems and mobile devices can lead to errors. Such errors can visually distort some texts or entire web pages. Thanks to the fast Content Delivery Network (CDN), there are no cross-platform problems with Google Fonts. Google Fonts supports all major browsers (Google Chrome, Mozilla Firefox, Apple Safari, Opera) and works reliably on most modern mobile operating systems, including Android 2.2+ and iOS 4.2+ (iPhone, iPad, iPod). So we use the Google fonts so that we can present our entire online service as beautifully and consistently as possible.</p>
        <h3 class="adsimple-321216416">Which data is stored by Google?</h3>
        <p>When you visit our website, the fonts are reloaded via a Google server. This external call transfers data to the Google servers. In this way, Google also recognizes that you or your IP address are visiting our website. The Google Fonts API was developed to reduce the use, storage and collection of end user data to what is necessary for the proper provision of fonts. By the way, API stands for "Application Programming Interface" and serves, among other things, as a data transmitter in the software area.</p>
        <p>Google Fonts stores CSS and font requests securely at Google and is therefore protected. Through the collected usage figures, Google can determine how well each font is received. Google publishes the results on internal analysis pages, such as Google Analytics. Google also uses data from its own web crawler to determine which websites use Google fonts. This data is published in the BigQuery database of Google Fonts. Entrepreneurs and developers use Google's BigQuery web service to examine and move large amounts of data.</p>
        <p> However, it should also be noted that every Google Font request automatically transfers information such as language settings, IP address, browser version, screen resolution and browser name to the Google servers. Whether this data is also stored, is not clearly ascertainable or is not clearly communicated by Google.</p>
        <h3 class="adsimple-321216416">How long and where will the data be stored?</h3>
        <p>Requests for CSS assets are stored by Google for one day on its servers, which are mainly located outside the EU. This allows us to use the fonts with the help of a Google style sheet. A stylesheet is a style template that allows you to easily and quickly change e.g. the design or font of a web page.</p>
        <p>The font files are stored at Google for one year. Google's goal is to improve the loading time of web pages. If millions of web pages link to the same fonts, they are cached after the first visit and reappear immediately on all other web pages visited later. Sometimes Google updates font files to reduce file size, increase language coverage and improve design.</p>
        <h3 class="adsimple-321216416">How can I delete my data or prevent data storage?</h3>
        <p>The data that Google stores for a day or a year cannot be deleted easily. The data is automatically transmitted to Google when the page is called up. To delete this data prematurely, you must contact Google support at <a class="adsimple-321216416" href="https://support.google.com/?hl=de&amp;tid=321216416">https://support.google.com/?hl=de&amp;tid=321216416</a>. In this case, you only prevent data storage if you do not visit our site.</p>
        <p> Unlike other web fonts, Google allows us unlimited access to all fonts. So we have unlimited access to a sea of fonts and can thus get the best out of our website. You can find more about Google fonts and other questions on <a class="adsimple-321216416" href="https://developers.google.com/fonts/faq?tid=321216416">https://developers.google.com/fonts/faq?tid=321216416</a>. There Google deals with data protection issues, but really detailed information about data storage is not included. It is relatively difficult to get really detailed information about stored data from Google.</p>
        <p>Which data is generally collected by Google and for what purpose this data is used, you can also read on <a class="adsimple-321216416" href="https://policies.google.com/privacy?hl=de&amp;tid=321216416">https://www.google.com/intl/de/policies/privacy/</a>.
        <h2 class="adsimple-321216416">Google Analytics Privacy Policy</h2>
        <p>We use on our website the analysis tracking tool Google Analytics (GA) of the American company Google Inc. For the European area the company Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Ireland) is responsible for all Google services. Google Analytics collects data about your actions on our website. For example, when you click on a link, this action is stored in a cookie and sent to Google Analytics. With the help of the reports we receive from Google Analytics, we can better tailor our website and services to your needs. In the following we will go into more detail about the tracking tool and inform you above all about what data is stored and how you can prevent this.</p>
        <h3 class="adsimple-321216416">What is Google Analytics?</h3>
        <p>Google Analytics is a tracking tool that is used for traffic analysis of our website. To make Google Analytics work, a tracking code is built into the code of our website. When you visit our website, this code records various actions that you perform on our website. As soon as you leave our website, this data is sent to the Google Analytics servers and stored there.</p>
        <p>Google processes the data and we get reports about your user behavior. These reports can include the following:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">Target group reports: Through target group reports we get to know our users better and know more precisely who is interested in our service.</li>
        <li class="adsimple-321216416">Advertisement reports: Ad reports make it easier for us to analyze and improve our online advertising.</li>
        <li class="adsimple-321216416">Acquisition reports: Acquisition reports provide us with helpful information on how we can get more people interested in our service.</li>
        <li class="adsimple-321216416">Behavioral Reports: Here we learn how you interact with our website. We can track which path you take on our site and which links you click on.</li>
        <li class="adsimple-321216416">Conversion reports: Conversion is the name given to a process in which you perform a desired action based on a marketing message. For example, when you go from being a mere website visitor to a buyer or newsletter subscriber. With the help of these reports, we learn more about how our marketing measures are received by you. This is how we want to increase our conversion rate.</li>
        <li class="adsimple-321216416">Real-time reports: Here we always know immediately what is happening on our website. For example, we see how many users are reading this text at the moment.</li>
        </ul>
        <h3 class="adsimple-321216416">Why do we use Google Analytics on our website?</h3>
        <p>Our goal with this website is clear: We want to offer you the best possible service. The statistics and data from Google Analytics help us achieve this goal.</p>
        <p>The statistically evaluated data give us a clear picture of the strengths and weaknesses of our website. On the one hand, we can optimize our site so that it can be found more easily by interested people on Google. On the other hand, the data helps us to better understand you as a visitor. We therefore know exactly what we need to improve on our website in order to offer you the best possible service. The data also helps us to carry out our advertising and marketing measures more individually and cost-effectively. After all, it only makes sense to show our products and services to people who are interested in them.</p>
        <h3 class="adsimple-321216416">Which data is stored by Google Analytics?</h3>
        <p>Google Analytics uses a tracking code to create a random, unique ID associated with your browser cookie. This way Google Analytics recognizes you as a new user. The next time you visit our site, you will be recognized as a "returning" user. All collected data is stored together with this user ID. This is the only way to evaluate pseudonymous user profiles.</p>
        <p>Identifiers such as cookies and app instance IDs measure your interactions on our site. Interactions are all types of actions you perform on our site. If you also use other Google systems (such as a Google account), data generated by Google Analytics may be linked to third-party cookies. Google does not pass on any Google Analytics data unless we as the website operator authorize it. Exceptions may be made if required by law.</p>
        <p>The following cookies are used by Google Analytics:</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> _ga<br />
        <strong class="adsimple-321216416">Value: </strong>2.1326744211.152321216416-5<br />
        <strong class="adsimple-321216416">Use:</strong> By default, analytics.js uses the cookie _ga to store the user ID. Basically, it is used to differentiate between website visitors.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 2 years</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> _gid<br />
        <strong class="adsimple-321216416">value: </strong>2.1687193234.152321216416-1<br />
        <strong class="adsimple-321216416">Use:</strong> The cookie is also used to differentiate the website visitors.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 24 hours</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> _gat_gtag_UA_&lt;property-id&gt;<br />
        <strong class="adsimple-321216416">value:</strong> 1<br />
        <strong class="adsimple-321216416">Use:</strong> Used to lower the request rate. If Google Analytics is provided via the Google Tag Manager, this cookie is named _dc_gtm_ &lt;property-id&gt;.<br />
        <strong class="adsimple-321216416">expiration date: </strong>after 1 minute</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> AMP_TOKEN<br />
        <strong class="adsimple-321216416">value:</strong> no information<br />
        <strong class="adsimple-321216416">Use:</strong> The cookie has a token with which a User ID can be retrieved from the AMP Client ID Service. Other possible values indicate a logout, a request or an error.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 30 seconds up to one year</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> __utma<br />
        <strong class="adsimple-321216416">Value: </strong>1564498958.1564498958.1564498958.1<br />
        <strong class="adsimple-321216416">Use:</strong> This cookie can be used to track your behavior on the site and measure performance. The cookie is updated each time information is sent to Google Analytics.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 2 years</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> __utmt<br />
        <strong class="adsimple-321216416">value:</strong> 1<br />
        <strong class="adsimple-321216416">Use:</strong> The cookie is used like _gat_gtag_UA_&lt;property-id&gt; to throttle the request rate.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 10 minutes</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> __utmb<br />
        <strong class="adsimple-321216416">Value: </strong>3.10.1564498958<br />
        <strong class="adsimple-321216416">Use:</strong> This cookie is used to determine new sessions. It is updated every time new data or information is sent to Google Analytics.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 30 minutes</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> __utmc<br />
        <strong class="adsimple-321216416">value:</strong> 167421564<br />
        <strong class="adsimple-321216416">Use:</strong> This cookie is used to set new sessions for returning visitors. This is a session cookie, and it is only stored until you close the browser.<br />
        <strong class="adsimple-321216416">expiration date:</strong> After closing the browser</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> __utmz<br />
        <strong class="adsimple-321216416">value:</strong> m|utmccn=(referral)|utmcmd=referral|utmcct=/<br />
        <strong class="adsimple-321216416">Use:</strong> The cookie is used to identify the source of traffic to our website. In other words, the cookie stores where you came to our website from. This may have been another site or an advertising campaign.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 6 months</p>
        <p>
        <strong class="adsimple-321216416">name:</strong> __utmv<br />
        <strong class="adsimple-321216416">value:</strong> no specification<br />
        <strong class="adsimple-321216416">Use:</strong> The cookie is used to store user-defined user data. It is always updated when information is sent to Google Analytics.<br />
        <strong class="adsimple-321216416">expiration date:</strong> after 2 years</p>
        <p>
        <strong class="adsimple-321216416">Note:</strong> This list cannot claim to be complete, as Google changes its choice of cookies again and again.</p>
        <p>Here we show you an overview of the most important data collected with Google Analytics:</p>
        <p>
        <strong class="adsimple-321216416">Heatmaps:</strong> Google creates so-called heat maps. With heatmaps you can see exactly those areas that you click on. This way we get information where you are "on the road" on our site.</p>
        <p>
        <strong class="adsimple-321216416">Session duration:</strong> Google defines session duration as the time you spend on our site without leaving the site. If you have been inactive for 20 minutes, the session ends automatically.</p>
        <p>
        <p>Bouncerate: A bouncer is when you only view one page on our website and then leave our website.</p>
        <p>
        <strong class="adsimple-321216416">account creation:</strong> When you create an account or place an order on our website, Google Analytics collects this data.</p>
        <p>
        <strong class="adsimple-321216416">IP address:</strong> The IP address is only displayed in abbreviated form so that no clear assignment is possible.</p>
        <p>
        <strong class="adsimple-321216416">Location:</strong> The IP address can be used to determine the country and your approximate location. This process is also called IP-location determination.</p>
        <p>
        <strong class="adsimple-321216416">Technical Information:</strong> Technical information includes your browser type, Internet service provider, or screen resolution.</p>
        <p>
        <strong class="adsimple-321216416">Source of origin:</strong> Google Analytics or us, are of course also interested in which website or which advertisement brought you to our site.</p>
        <p>Additional data are contact details, any ratings, playing media (e.g. when you play a video on our site), sharing content via social media or adding to your favorites. This list does not claim to be exhaustive and serves only as a general orientation for the data storage by Google Analytics.</p>
        <h3 class="adsimple-321216416">How long and where will the data be stored?</h3>
        <p>Google has distributed your servers all over the world. Most of the servers are located in America and therefore your data is mostly stored on American servers. Here you can read exactly where the Google data centers are located: <a class="adsimple-321216416" href="https://www.google.com/about/datacenters/inside/locations/?hl=de" target="_blank" rel="noopener noreferrer">https://www.google.com/about/datacenters/inside/locations/?hl=de</a>
        </p>
        <p>Your data is distributed on different physical media. This has the advantage that the data can be retrieved faster and is better protected against manipulation. In every Google data center there are appropriate emergency programs for your data. If, for example, Google's hardware fails or natural disasters paralyze servers, the risk of a service interruption at Google is still low.</p>
        <p>By default, Google Analytics uses a retention period of 26 months for your user data. Then your user data will be deleted. However, we have the option to choose the retention period of user data ourselves. We have five options for this:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">deletion after 14 months</li>
        <li class="adsimple-321216416">Deletion after 26 months</li>
        <li class="adsimple-321216416">Deletion after 38 months</li>
        <li class="adsimple-321216416">Deletion after 50 months</li>
        <li class="adsimple-321216416">No automatic deletion</li>
        </ul>
        <p>When the specified period has expired, the data is deleted once a month. This retention period applies to your data associated with cookies, user recognition and advertising IDs (e.g., DoubleClick domain cookies). Reporting results are based on aggregated data and are stored independently of user data. Aggregated data is a fusion of individual data into a larger unit.</p>
        <h3 class="adsimple-321216416">How can I delete my data or prevent data storage?</h3>
        <p>According to the data protection law of the European Union, you have the right to obtain information about your data, to update, delete or restrict it. By using the browser add-on to deactivate Google Analytics JavaScript (ga.js, analytics.js, dc.js) you prevent Google Analytics from using your data. You can download and install the browser add-on at <a class="adsimple-321216416" href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank" rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout?hl=de</a>. Please note that this add-on only disables the data collection by Google Analytics.</p>
        <p>If you want to deactivate, delete or manage cookies (independent of Google Analytics), there are separate instructions for each browser:</p>
        <p>
        <a class="adsimple-321216416" href="https://support.google.com/chrome/answer/95647?tid=321216416" target="_blank" rel="noopener noreferrer">Chrome: Delete, activate and manage cookies in Chrome</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=321216416" target="_blank" rel="noopener noreferrer">Safari: Managing cookies and website data with Safari</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=321216416" target="_blank" rel="noopener noreferrer">Firefox: Delete cookies to remove data that websites have placed on your computer</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=321216416" target="_blank" rel="noopener noreferrer">Internet Explorer: Delete and manage cookies</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=321216416" target="_blank" rel="noopener noreferrer">Microsoft Edge: Delete and manage cookies</a>
        </p>
        <p>Google Analytics is an active participant in the EU-U.S. Privacy Shield Framework, which regulates the correct and secure transfer of personal data. You can find more information on <a class="adsimple-321216416" href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI" target="_blank" rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;tid=321216416</a>. We hope we could give you the most important information about the data processing of Google Analytics. If you would like to learn more about the tracking service, we recommend these two links: <a class="adsimple-321216416" href="http://www.google.com/analytics/terms/de.html" target="_blank" rel="noopener noreferrer">http://www.google.com/analytics/terms/de.html</a> and <a class="adsimple-321216416" href="https://support.google.com/analytics/answer/6004245?hl=de" target="_blank" rel="noopener noreferrer">https://support.google.com/analytics/answer/6004245?hl=de</a>.</p>
        <h2 class="adsimple-321216416">Embedded Social Media Elements Privacy Policy</h2>
        <p>We integrate elements of social media services on our website to display pictures, videos and texts.<br />
        When you visit pages that display these elements, data is transferred from your browser to the respective social media service and stored there. We do not have access to this data.<br />
        The following links will take you to the pages of the respective social media services, where it is explained how they handle your data:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">Instagram-Datenschutzrichtlinie: <a class="adsimple-321216416" href="https://help.instagram.com/519522125107875?tid=321216416" target="_blank" rel="noopener">https://help.instagram.com/519522125107875</a>
        </li>
        <li class="adsimple-321216416">For YouTube the Google privacy policy applies: <a class="adsimple-321216416" href="https://policies.google.com/privacy?hl=de&amp;tid=321216416" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=de</a>
        </li>
        <li class="adsimple-321216416">Facebook data policy: <a class="adsimple-321216416" href="https://www.facebook.com/about/privacy?tid=321216416" target="_blank" rel="noopener">https://www.facebook.com/about/privacy</a>
        </li>
        <li class="adsimple-321216416">Twitter privacy policy: <a class="adsimple-321216416" href="https://twitter.com/de/privacy?tid=321216416" target="_blank" rel="noopener">https://twitter.com/de/privacy</a>
        </li>
        <li class="adsimple-321216416">Spotify Privacy Policy: <a class="adsimple-321216416" href="https://www.spotify.com/de/legal/privacy-policy/" target="_blank" rel="noopener">https://twitter.com/de/privacy</a>
        </li>
        </ul>
        <p style="margin-top:15px;">Source: Created with the <a title="Datenschutz Generator Deutschland" href="https://www.adsimple.de/datenschutz-generator/" target="_blank" rel="follow" style="text-decoration:none;">Datenschutz Generator</a> by AdSimple in cooperation with <a href="https://www.slashtechnik.de" target="_blank" rel="follow" title="">slashtechnik.de</a>
        </p>

        <br><br><br><br><br>
        <h1 class="adsimple-321216416">Impressum 🇩🇪</h1>
        <p class="adsimple-321216416">Informationspflicht laut § 5 TMG.</p>
        <p class="adsimple-321216416">
        <p>Nico Sauter</p>
        <p class="adsimple-321216416">Untere Dorfstraße 3, <br />85414 Kirchdorf, <br />Deutschland</p>
        <p class="adsimple-321216416">
        <strong>E-Mail:</strong> me(AT)nico-sauter.de
        </p>
        <p style="margin-top:15px;">Quelle: Erstellt mit dem <a title="Impressum Generator Deutschland" href="https://www.adsimple.de/impressum-generator/" target="_blank" rel="follow" style="text-decoration:none;">Impressum Generator</a> von AdSimple in Kooperation mit <a href="https://www.justmed.de" target="_blank" rel="follow" title="">justmed.de</a>
        </p>
        <h2 class="adsimple-321216416">EU-Streitschlichtung</h2>
        <p>Gemäß Verordnung über Online-Streitbeilegung in Verbraucherangelegenheiten (ODR-Verordnung) möchten wir Sie über die Online-Streitbeilegungsplattform (OS-Plattform) informieren.<br />
        Verbraucher haben die Möglichkeit, Beschwerden an die Online Streitbeilegungsplattform der Europäischen Kommission unter <a class="adsimple-321216416" href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="noopener">http://ec.europa.eu/odr?tid=321216416</a> zu richten. Die dafür notwendigen Kontaktdaten finden Sie oberhalb in unserem Impressum.</p>
        <p>Wir möchten Sie jedoch darauf hinweisen, dass wir nicht bereit oder verpflichtet sind, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
        <h2 class="adsimple-321216416">Haftung für Inhalte dieser Website</h2>
        <p>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Laut Telemediengesetz <a class="adsimple-321216416" href="https://www.gesetze-im-internet.de/tmg/__7.html?tid=321216416" rel="noopener" target="_blank">(TMG) §7 (1)</a> sind wir als Diensteanbieter für eigene Informationen, die wir zur Nutzung bereitstellen, nach den allgemeinen Gesetzen verantwortlich. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wurden. Als Diensteanbieter im Sinne der §§ 8 bis 10 sind wir nicht verpflichtet, die von ihnen übermittelten oder gespeicherten Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>
        <p>Unsere Verpflichtungen zur Entfernung von Informationen oder zur Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen aufgrund von gerichtlichen oder behördlichen Anordnungen bleiben auch im Falle unserer Nichtverantwortlichkeit nach den §§ 8 bis 10 unberührt. </p>
        <p>Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, damit wir die rechtswidrigen Inhalte entfernen können. Sie finden die Kontaktdaten im Impressum.</p>
        <h2 class="adsimple-321216416">Haftung für Links auf dieser Website</h2>
        <p>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Haftung für verlinkte Websites besteht für uns nicht, da wir keine Kenntnis rechtswidriger Tätigkeiten hatten und haben, uns solche Rechtswidrigkeiten auch bisher nicht aufgefallen sind und wir Links sofort entfernen würden, wenn uns Rechtswidrigkeiten bekannt werden.</p>
        <p>Wenn Ihnen rechtswidrige Links auf unserer Website auffallen, bitte wir Sie uns zu kontaktieren. Sie finden die Kontaktdaten im Impressum.</p>
        <h2 class="adsimple-321216416">Bildernachweis</h2>
        <p>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich durch Künstler, deren Fotografen oder Lables geschützt. Ich besitze die Rechte an den Bildern nicht.</p>
        <h1 class="adsimple-321216416">Datenschutzerklärung</h1>
        <h2 class="adsimple-321216416">Datenschutz</h2>
        <p>Wir haben diese Datenschutzerklärung (Fassung 27.09.2020-321216416) verfasst, um Ihnen gemäß der Vorgaben der <a class="adsimple-321216416" href="https://eur-lex.europa.eu/legal-content/DE/ALL/?uri=celex%3A32016R0679&amp;tid=321216416" target="_blank" rel="noopener">Datenschutz-Grundverordnung (EU) 2016/679</a> zu erklären, welche Informationen wir sammeln, wie wir Daten verwenden und welche Entscheidungsmöglichkeiten Sie als Besucher dieser Webseite haben.</p>
        <p>Leider liegt es in der Natur der Sache, dass diese Erklärungen sehr technisch klingen, wir haben uns bei der Erstellung jedoch bemüht die wichtigsten Dinge so einfach und klar wie möglich zu beschreiben.</p>
        <h2 class="adsimple-321216416">Rechte laut Datenschutzgrundverordnung</h2>
        <p>Ihnen stehen laut den Bestimmungen der DSGVO grundsätzlich die folgende Rechte zu:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">Recht auf Berichtigung (Artikel 16 DSGVO)</li>
        <li class="adsimple-321216416">Recht auf Löschung („Recht auf Vergessenwerden“) (Artikel 17 DSGVO)</li>
        <li class="adsimple-321216416">Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO)</li>
        <li class="adsimple-321216416">Recht auf Benachrichtigung &#8211; Mitteilungspflicht im Zusammenhang mit der Berichtigung oder Löschung personenbezogener Daten oder der Einschränkung der Verarbeitung (Artikel 19 DSGVO)</li>
        <li class="adsimple-321216416">Recht auf Datenübertragbarkeit (Artikel 20 DSGVO)</li>
        <li class="adsimple-321216416">Widerspruchsrecht (Artikel 21 DSGVO)</li>
        <li class="adsimple-321216416">Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung — einschließlich Profiling — beruhenden Entscheidung unterworfen zu werden (Artikel 22 DSGVO)</li>
        </ul>
        <p>Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich an die <a class="adsimple-321216416" class="321216416" href="https://www.bfdi.bund.de" target="_blank" rel="noopener">Bundesbeauftragte für den Datenschutz und die Informationsfreiheit (BfDI)</a> wenden.</p>
        <h2 class="adsimple-321216416">TLS-Verschlüsselung mit https</h2>
        <p>Wir verwenden https um Daten abhörsicher im Internet zu übertragen (Datenschutz durch Technikgestaltung <a class="adsimple-321216416" href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=321216416" target="_blank" rel="noopener">Artikel 25 Absatz 1 DSGVO</a>). Durch den Einsatz von TLS (Transport Layer Security), einem Verschlüsselungsprotokoll zur sicheren Datenübertragung im Internet können wir den Schutz vertraulicher Daten sicherstellen. Sie erkennen die Benutzung dieser Absicherung der Datenübertragung am kleinen Schloßsymbol links oben im Browser und der Verwendung des Schemas https (anstatt http) als Teil unserer Internetadresse.</p>
        <h2 class="adsimple-321216416">Google Fonts Datenschutzerklärung</h2>
        <p>Auf unserer Website verwenden wir Google Fonts. Das sind die &#8220;Google-Schriften&#8221; der Firma Google Inc. Für den europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) für alle Google-Dienste verantwortlich.</p>
        <p>Für die Verwendung von Google-Schriftarten müssen Sie sich nicht anmelden bzw. ein Passwort hinterlegen. Weiters werden auch keine Cookies in Ihrem Browser gespeichert. Die Dateien (CSS, Schriftarten/Fonts) werden über die Google-Domains fonts.googleapis.com und fonts.gstatic.com angefordert. Laut Google sind die Anfragen nach CSS und Schriften vollkommen getrennt von allen anderen Google-Diensten. Wenn Sie ein Google-Konto haben, brauchen Sie keine Sorge haben, dass Ihre Google-Kontodaten, während der Verwendung von Google Fonts, an Google übermittelt werden. Google erfasst die Nutzung von CSS (Cascading Style Sheets) und der verwendeten Schriftarten und speichert diese Daten sicher. Wie die Datenspeicherung genau aussieht, werden wir uns noch im Detail ansehen.</p>
        <h3 class="adsimple-321216416">Was sind Google Fonts?</h3>
        <p>Google Fonts (früher Google Web Fonts) ist ein Verzeichnis mit über 800 Schriftarten, die <a class="adsimple-321216416" href="https://de.wikipedia.org/wiki/Google_LLC?tid=321216416">Google</a> seinen Nutzern kostenlos zu Verfügung stellt.</p>
        <p>Viele dieser Schriftarten sind unter der SIL Open Font License veröffentlicht, während andere unter der Apache-Lizenz veröffentlicht wurden. Beides sind freie Software-Lizenzen.</p>
        <h3 class="adsimple-321216416">Warum verwenden wir Google Fonts auf unserer Webseite?</h3>
        <p>Mit Google Fonts können wir auf unserer eigenen Webseite Schriften nutzen, doch müssen sie nicht auf unseren eigenen Server hochladen. Google Fonts ist ein wichtiger Baustein, um die Qualität unserer Webseite hoch zu halten. Alle Google-Schriften sind automatisch für das Web optimiert und dies spart Datenvolumen und ist speziell für die Verwendung mit mobilen Endgeräten ein großer Vorteil. Wenn Sie unsere Seite besuchen, sorgt die niedrige Dateigröße für eine schnelle Ladezeit. Des Weiteren sind Google Fonts sichere Web Fonts. Unterschiedliche Bildsynthese-Systeme (Rendering) in verschiedenen Browsern, Betriebssystemen und mobilen Endgeräten können zu Fehlern führen. Solche Fehler können teilweise Texte bzw. ganze Webseiten optisch verzerren. Dank des schnellen Content Delivery Networks (CDN) gibt es mit Google Fonts keine plattformübergreifenden Probleme. Google Fonts unterstützt alle gängigen Browser (Google Chrome, Mozilla Firefox, Apple Safari, Opera) und funktioniert zuverlässig auf den meisten modernen mobilen Betriebssystemen, einschließlich Android 2.2+ und iOS 4.2+ (iPhone, iPad, iPod). Wir verwenden die Google Fonts also, damit wir unser gesamtes Online-Service so schön und einheitlich wie möglich darstellen können.</p>
        <h3 class="adsimple-321216416">Welche Daten werden von Google gespeichert?</h3>
        <p>Wenn Sie unsere Webseite besuchen, werden die Schriften über einen Google-Server nachgeladen. Durch diesen externen Aufruf werden Daten an die Google-Server übermittelt. So erkennt Google auch, dass Sie bzw. Ihre IP-Adresse unsere Webseite besuchen. Die Google Fonts API wurde entwickelt, um Verwendung, Speicherung und Erfassung von Endnutzerdaten auf das zu reduzieren, was für eine ordentliche Bereitstellung von Schriften nötig ist. API steht übrigens für „Application Programming Interface“ und dient unter anderem als Datenübermittler im Softwarebereich.</p>
        <p>Google Fonts speichert CSS- und Schrift-Anfragen sicher bei Google und ist somit geschützt. Durch die gesammelten Nutzungszahlen kann Google feststellen, wie gut die einzelnen Schriften ankommen. Die Ergebnisse veröffentlicht Google auf internen Analyseseiten, wie beispielsweise Google Analytics. Zudem verwendet Google auch Daten des eigenen Web-Crawlers, um festzustellen, welche Webseiten Google-Schriften verwenden. Diese Daten werden in der BigQuery-Datenbank von Google Fonts veröffentlicht. Unternehmer und Entwickler nützen das Google-Webservice BigQuery, um große Datenmengen untersuchen und bewegen zu können.</p>
        <p>Zu bedenken gilt allerdings noch, dass durch jede Google Font Anfrage auch Informationen wie Spracheinstellungen, IP-Adresse, Version des Browsers, Bildschirmauflösung des Browsers und Name des Browsers automatisch an die Google-Server übertragen werden. Ob diese Daten auch gespeichert werden, ist nicht klar feststellbar bzw. wird von Google nicht eindeutig kommuniziert.</p>
        <h3 class="adsimple-321216416">Wie lange und wo werden die Daten gespeichert?</h3>
        <p>Anfragen für CSS-Assets speichert Google einen Tag lang auf seinen Servern, die hauptsächlich außerhalb der EU angesiedelt sind. Das ermöglicht uns, mithilfe eines Google-Stylesheets die Schriftarten zu nutzen. Ein Stylesheet ist eine Formatvorlage, über die man einfach und schnell z.B. das Design bzw. die Schriftart einer Webseite ändern kann.</p>
        <p>Die Font-Dateien werden bei Google ein Jahr gespeichert. Google verfolgt damit das Ziel, die Ladezeit von Webseiten grundsätzlich zu verbessern. Wenn Millionen von Webseiten auf die gleichen Schriften verweisen, werden sie nach dem ersten Besuch zwischengespeichert und erscheinen sofort auf allen anderen später besuchten Webseiten wieder. Manchmal aktualisiert Google Schriftdateien, um die Dateigröße zu reduzieren, die Abdeckung von Sprache zu erhöhen und das Design zu verbessern.</p>
        <h3 class="adsimple-321216416">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
        <p>Jene Daten, die Google für einen Tag bzw. ein Jahr speichert können nicht einfach gelöscht werden. Die Daten werden beim Seitenaufruf automatisch an Google übermittelt. Um diese Daten vorzeitig löschen zu können, müssen Sie den Google-Support auf <a class="adsimple-321216416" href="https://support.google.com/?hl=de&amp;tid=321216416">https://support.google.com/?hl=de&amp;tid=321216416</a> kontaktieren. Datenspeicherung verhindern Sie in diesem Fall nur, wenn Sie unsere Seite nicht besuchen.</p>
        <p>Anders als andere Web-Schriften erlaubt uns Google uneingeschränkten Zugriff auf alle Schriftarten. Wir können also unlimitiert auf ein Meer an Schriftarten zugreifen und so das Optimum für unsere Webseite rausholen. Mehr zu Google Fonts und weiteren Fragen finden Sie auf <a class="adsimple-321216416" href="https://developers.google.com/fonts/faq?tid=321216416">https://developers.google.com/fonts/faq?tid=321216416</a>. Dort geht zwar Google auf datenschutzrelevante Angelegenheiten ein, doch wirklich detaillierte Informationen über Datenspeicherung sind nicht enthalten. Es ist relativ schwierig, von Google wirklich präzise Informationen über gespeicherten Daten zu bekommen.</p>
        <p>Welche Daten grundsätzlich von Google erfasst werden und wofür diese Daten verwendet werden, können Sie auch auf <a class="adsimple-321216416" href="https://policies.google.com/privacy?hl=de&amp;tid=321216416">https://www.google.com/intl/de/policies/privacy/</a> nachlesen.</p>
        <h2 class="adsimple-321216416">Google Analytics Datenschutzerklärung</h2>
        <p>Wir verwenden auf unserer Website das Analyse-Tracking Tool Google Analytics (GA) des amerikanischen Unternehmens Google Inc. Für den europäischen Raum ist das Unternehmen Google Ireland Limited (Gordon House, Barrow Street Dublin 4, Irland) für alle Google-Dienste verantwortlich. Google Analytics sammelt Daten über Ihre Handlungen auf unserer Website. Wenn Sie beispielsweise einen Link anklicken, wird diese Aktion in einem Cookie gespeichert und an Google Analytics versandt. Mithilfe der Berichte, die wir von Google Analytics erhalten, können wir unsere Website und unser Service besser an Ihre Wünsche anpassen. Im Folgenden gehen wir näher auf das Tracking Tool ein und informieren Sie vor allem darüber, welche Daten gespeichert werden und wie Sie das verhindern können.</p>
        <h3 class="adsimple-321216416">Was ist Google Analytics?</h3>
        <p>Google Analytics ist ein Trackingtool, das der Datenverkehrsanalyse unserer Website dient. Damit Google Analytics funktioniert, wird ein Tracking-Code in den Code unserer Website eingebaut. Wenn Sie unsere Website besuchen, zeichnet dieser Code verschiedene Handlungen auf, die Sie auf unserer Website ausführen. Sobald Sie unsere Website verlassen, werden diese Daten an die Google-Analytics-Server gesendet und dort gespeichert.</p>
        <p>Google verarbeitet die Daten und wir bekommen Berichte über Ihr Userverhalten. Dabei kann es sich unter anderem um folgende Berichte handeln:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">Zielgruppenberichte: Über Zielgruppenberichte lernen wir unsere User besser kennen und wissen genauer, wer sich für unser Service interessiert.</li>
        <li class="adsimple-321216416">Anzeigeberichte: Durch Anzeigeberichte können wir unsere Onlinewerbung leichter analysieren und verbessern.</li>
        <li class="adsimple-321216416">Akquisitionsberichte: Akquisitionsberichte geben uns hilfreiche Informationen darüber, wie wir mehr Menschen für unser Service begeistern können.</li>
        <li class="adsimple-321216416">Verhaltensberichte: Hier erfahren wir, wie Sie mit unserer Website interagieren. Wir können nachvollziehen welchen Weg Sie auf unserer Seite zurücklegen und welche Links Sie anklicken.</li>
        <li class="adsimple-321216416">Conversionsberichte: Conversion nennt man einen Vorgang, bei dem Sie aufgrund einer Marketing-Botschaft eine gewünschte Handlung ausführen. Zum Beispiel, wenn Sie von einem reinen Websitebesucher zu einem Käufer oder Newsletter-Abonnent werden. Mithilfe dieser Berichte erfahren wir mehr darüber, wie unsere Marketing-Maßnahmen bei Ihnen ankommen. So wollen wir unsere Conversionrate steigern.</li>
        <li class="adsimple-321216416">Echtzeitberichte: Hier erfahren wir immer sofort, was gerade auf unserer Website passiert. Zum Beispiel sehen wir wie viele User gerade diesen Text lesen.</li>
        </ul>
        <h3 class="adsimple-321216416">Warum verwenden wir Google Analytics auf unserer Webseite?</h3>
        <p>Unser Ziel mit dieser Website ist klar: Wir wollen Ihnen das bestmögliche Service bieten. Die Statistiken und Daten von Google Analytics helfen uns dieses Ziel zu erreichen.</p>
        <p>Die statistisch ausgewerteten Daten zeigen uns ein klares Bild von den Stärken und Schwächen unserer Website. Einerseits können wir unsere Seite so optimieren, dass sie von interessierten Menschen auf Google leichter gefunden wird. Andererseits helfen uns die Daten, Sie als Besucher besser zu verstehen. Wir wissen somit sehr genau, was wir an unserer Website verbessern müssen, um Ihnen das bestmögliche Service zu bieten. Die Daten dienen uns auch, unsere Werbe- und Marketing-Maßnahmen individueller und kostengünstiger durchzuführen. Schließlich macht es nur Sinn, unsere Produkte und Dienstleistungen Menschen zu zeigen, die sich dafür interessieren.</p>
        <h3 class="adsimple-321216416">Welche Daten werden von Google Analytics gespeichert?</h3>
        <p>Google Analytics erstellt mithilfe eines Tracking-Codes eine zufällige, eindeutige ID, die mit Ihrem Browser-Cookie verbunden ist. So erkennt Sie Google Analytics als neuen User. Wenn Sie das nächste Mal unsere Seite besuchen, werden Sie als „wiederkehrender“ User erkannt. Alle gesammelten Daten werden gemeinsam mit dieser User-ID gespeichert. So ist es überhaupt erst möglich pseudonyme Userprofile auszuwerten.</p>
        <p>Durch Kennzeichnungen wie Cookies und App-Instanz-IDs werden Ihre Interaktionen auf unserer Website gemessen. Interaktionen sind alle Arten von Handlungen, die Sie auf unserer Website ausführen. Wenn Sie auch andere Google-Systeme (wie z.B. ein Google-Konto) nützen, können über Google Analytics generierte Daten mit Drittanbieter-Cookies verknüpft werden. Google gibt keine Google Analytics-Daten weiter, außer wir als Websitebetreiber genehmigen das. Zu Ausnahmen kann es kommen, wenn es gesetzlich erforderlich ist.</p>
        <p>Folgende Cookies werden von Google Analytics verwendet:</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> _ga<br />
        <strong class="adsimple-321216416">Wert: </strong>2.1326744211.152321216416-5<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Standardmäßig verwendet analytics.js das Cookie _ga, um die User-ID zu speichern. Grundsätzlich dient es zur Unterscheidung der Webseitenbesucher.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 2 Jahren</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> _gid<br />
        <strong class="adsimple-321216416">Wert: </strong>2.1687193234.152321216416-1<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Das Cookie dient auch zur Unterscheidung der Webseitenbesucher.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 24 Stunden</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> _gat_gtag_UA_&lt;property-id&gt;<br />
        <strong class="adsimple-321216416">Wert:</strong> 1<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Wird zum Senken der Anforderungsrate verwendet. Wenn Google Analytics über den Google Tag Manager bereitgestellt wird, erhält dieser Cookie den Namen _dc_gtm_ &lt;property-id&gt;.<br />
        <strong class="adsimple-321216416">Ablaufdatum: </strong>nach 1 Minute</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> AMP_TOKEN<br />
        <strong class="adsimple-321216416">Wert:</strong> keine Angaben<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Das Cookie hat einen Token, mit dem eine User ID vom AMP-Client-ID-Dienst abgerufen werden kann. Andere mögliche Werte weisen auf eine Abmeldung, eine Anfrage oder einen Fehler hin.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 30 Sekunden bis zu einem Jahr</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> __utma<br />
        <strong class="adsimple-321216416">Wert: </strong>1564498958.1564498958.1564498958.1<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Mit diesem Cookie kann man Ihr Verhalten auf der Website verfolgen und die Leistung messen. Das Cookie wird jedes Mal aktualisiert, wenn Informationen an Google Analytics gesendet werden.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 2 Jahren</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> __utmt<br />
        <strong class="adsimple-321216416">Wert:</strong> 1<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Das Cookie wird wie _gat_gtag_UA_&lt;property-id&gt; zum Drosseln der Anforderungsrate verwendet.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 10 Minuten</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> __utmb<br />
        <strong class="adsimple-321216416">Wert: </strong>3.10.1564498958<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Dieses Cookie wird verwendet, um neue Sitzungen zu bestimmen. Es wird jedes Mal aktualisiert, wenn neue Daten bzw. Infos an Google Analytics gesendet werden.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 30 Minuten</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> __utmc<br />
        <strong class="adsimple-321216416">Wert:</strong> 167421564<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Dieses Cookie wird verwendet, um neue Sitzungen für wiederkehrende Besucher festzulegen. Dabei handelt es sich um ein Session-Cookie, und es wird nur solange gespeichert, bis Sie den Browser wieder schließen.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> Nach Schließung des Browsers</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> __utmz<br />
        <strong class="adsimple-321216416">Wert:</strong> m|utmccn=(referral)|utmcmd=referral|utmcct=/<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Das Cookie wird verwendet, um die Quelle des Besucheraufkommens auf unserer Website zu identifizieren. Das heißt, das Cookie speichert, von wo Sie auf unsere Website gekommen sind. Das kann eine andere Seite bzw. eine Werbeschaltung gewesen sein.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 6 Monaten</p>
        <p>
        <strong class="adsimple-321216416">Name:</strong> __utmv<br />
        <strong class="adsimple-321216416">Wert:</strong> keine Angabe<br />
        <strong class="adsimple-321216416">Verwendungszweck:</strong> Das Cookie wird verwendet, um benutzerdefinierte Userdaten zu speichern. Es wird immer aktualisiert, wenn Informationen an Google Analytics gesendet werden.<br />
        <strong class="adsimple-321216416">Ablaufdatum:</strong> nach 2 Jahren</p>
        <p>
        <strong class="adsimple-321216416">Anmerkung:</strong> Diese Aufzählung kann keinen Anspruch auf Vollständigkeit erheben, da Google die Wahl seiner Cookies immer wieder verändert.</p>
        <p>Hier zeigen wir Ihnen einen Überblick über die wichtigsten Daten, die mit Google Analytics erhoben werden:</p>
        <p>
        <strong class="adsimple-321216416">Heatmaps:</strong> Google legt sogenannte Heatmaps an. Über Heatmaps sieht man genau jene Bereiche, die Sie anklicken. So bekommen wir Informationen, wo Sie auf unserer Seite „unterwegs“ sind.</p>
        <p>
        <strong class="adsimple-321216416">Sitzungsdauer:</strong> Als Sitzungsdauer bezeichnet Google die Zeit, die Sie auf unserer Seite verbringen, ohne die Seite zu verlassen. Wenn Sie 20 Minuten inaktiv waren, endet die Sitzung automatisch.</p>
        <p>
        <strong class="adsimple-321216416">Absprungrate</strong> (engl. Bouncerate): Von einem Absprung ist die Rede, wenn Sie auf unserer Website nur eine Seite ansehen und dann unsere Website wieder verlassen.</p>
        <p>
        <strong class="adsimple-321216416">Kontoerstellung:</strong> Wenn Sie auf unserer Website ein Konto erstellen bzw. eine Bestellung machen, erhebt Google Analytics diese Daten.</p>
        <p>
        <strong class="adsimple-321216416">IP-Adresse:</strong> Die IP-Adresse wird nur in gekürzter Form dargestellt, damit keine eindeutige Zuordnung möglich ist.</p>
        <p>
        <strong class="adsimple-321216416">Standort:</strong> Über die IP-Adresse kann das Land und Ihr ungefährer Standort bestimmt werden. Diesen Vorgang bezeichnet man auch als IP- Standortbestimmung.</p>
        <p>
        <strong class="adsimple-321216416">Technische Informationen:</strong> Zu den technischen Informationen zählen unter anderem Ihr Browsertyp, Ihr Internetanbieter oder Ihre Bildschirmauflösung.</p>
        <p>
        <strong class="adsimple-321216416">Herkunftsquelle:</strong> Google Analytics beziehungsweise uns, interessiert natürlich auch über welche Website oder welche Werbung Sie auf unsere Seite gekommen sind.</p>
        <p>Weitere Daten sind Kontaktdaten, etwaige Bewertungen, das Abspielen von Medien (z.B., wenn Sie ein Video über unsere Seite abspielen), das Teilen von Inhalten über Social Media oder das Hinzufügen zu Ihren Favoriten. Die Aufzählung hat keinen Vollständigkeitsanspruch und dient nur zu einer allgemeinen Orientierung der Datenspeicherung durch Google Analytics.</p>
        <h3 class="adsimple-321216416">Wie lange und wo werden die Daten gespeichert?</h3>
        <p>Google hat Ihre Server auf der ganzen Welt verteilt. Die meisten Server befinden sich in Amerika und folglich werden Ihre Daten meist auf amerikanischen Servern gespeichert. Hier können Sie genau nachlesen wo sich die Google-Rechenzentren befinden: <a class="adsimple-321216416" href="https://www.google.com/about/datacenters/inside/locations/?hl=de" target="_blank" rel="noopener noreferrer">https://www.google.com/about/datacenters/inside/locations/?hl=de</a>
        </p>
        <p>Ihre Daten werden auf verschiedenen physischen Datenträgern verteilt. Das hat den Vorteil, dass die Daten schneller abrufbar sind und vor Manipulation besser geschützt sind. In jedem Google-Rechenzentrum gibt es entsprechende Notfallprogramme für Ihre Daten. Wenn beispielsweise die Hardware bei Google ausfällt oder Naturkatastrophen Server lahmlegen, bleibt das Risiko einer Dienstunterbrechung bei Google dennoch gering.</p>
        <p>Standardisiert ist bei Google Analytics eine Aufbewahrungsdauer Ihrer Userdaten von 26 Monaten eingestellt. Dann werden Ihre Userdaten gelöscht. Allerdings haben wir die Möglichkeit, die Aufbewahrungsdauer von Nutzdaten selbst zu wählen. Dafür stehen uns fünf Varianten zur Verfügung:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">Löschung nach 14 Monaten</li>
        <li class="adsimple-321216416">Löschung nach 26 Monaten</li>
        <li class="adsimple-321216416">Löschung nach 38 Monaten</li>
        <li class="adsimple-321216416">Löschung nach 50 Monaten</li>
        <li class="adsimple-321216416">Keine automatische Löschung</li>
        </ul>
        <p>Wenn der festgelegte Zeitraum abgelaufen ist, werden einmal im Monat die Daten gelöscht. Diese Aufbewahrungsdauer gilt für Ihre Daten, die mit Cookies, Usererkennung und Werbe-IDs (z.B. Cookies der DoubleClick-Domain) verknüpft sind. Berichtergebnisse basieren auf aggregierten Daten und werden unabhängig von Nutzerdaten gespeichert. Aggregierte Daten sind eine Zusammenschmelzung von Einzeldaten zu einer größeren Einheit.</p>
        <h3 class="adsimple-321216416">Wie kann ich meine Daten löschen bzw. die Datenspeicherung verhindern?</h3>
        <p>Nach dem Datenschutzrecht der Europäischen Union haben Sie das Recht, Auskunft über Ihre Daten zu erhalten, sie zu aktualisieren, zu löschen oder einzuschränken. Mithilfe des Browser-Add-ons zur Deaktivierung von Google Analytics-JavaScript (ga.js, analytics.js, dc.js) verhindern Sie, dass Google Analytics Ihre Daten verwendet. Das Browser-Add-on können Sie unter <a class="adsimple-321216416" href="https://tools.google.com/dlpage/gaoptout?hl=de" target="_blank" rel="noopener noreferrer">https://tools.google.com/dlpage/gaoptout?hl=de</a> runterladen und installieren. Beachten Sie bitte, dass durch dieses Add-on nur die Datenerhebung durch Google Analytics deaktiviert wird.</p>
        <p>Falls Sie grundsätzlich Cookies (unabhängig von Google Analytics) deaktivieren, löschen oder verwalten wollen, gibt es für jeden Browser eine eigene Anleitung:</p>
        <p>
        <a class="adsimple-321216416" href="https://support.google.com/chrome/answer/95647?tid=321216416" target="_blank" rel="noopener noreferrer">Chrome: Cookies in Chrome löschen, aktivieren und verwalten</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.apple.com/de-at/guide/safari/sfri11471/mac?tid=321216416" target="_blank" rel="noopener noreferrer">Safari: Verwalten von Cookies und Websitedaten mit Safari</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?tid=321216416" target="_blank" rel="noopener noreferrer">Firefox: Cookies löschen, um Daten zu entfernen, die Websites auf Ihrem Computer abgelegt haben</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies?tid=321216416" target="_blank" rel="noopener noreferrer">Internet Explorer: Löschen und Verwalten von Cookies</a>
        </p>
        <p>
        <a class="adsimple-321216416" href="https://support.microsoft.com/de-at/help/4027947/windows-delete-cookies?tid=321216416" target="_blank" rel="noopener noreferrer">Microsoft Edge: Löschen und Verwalten von Cookies</a>
        </p>
        <p>Google Analytics ist aktiver Teilnehmer beim EU-U.S. Privacy Shield Framework, wodurch der korrekte und sichere Datentransfer persönlicher Daten geregelt wird. Mehr Informationen dazu finden Sie auf <a class="adsimple-321216416" href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI" target="_blank" rel="follow noopener noreferrer">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;tid=321216416</a>. Wir hoffen wir konnten Ihnen die wichtigsten Informationen rund um die Datenverarbeitung von Google Analytics näherbringen. Wenn Sie mehr über den Tracking-Dienst erfahren wollen, empfehlen wir diese beiden Links: <a class="adsimple-321216416" href="http://www.google.com/analytics/terms/de.html" target="_blank" rel="noopener noreferrer">http://www.google.com/analytics/terms/de.html</a> und <a class="adsimple-321216416" href="https://support.google.com/analytics/answer/6004245?hl=de" target="_blank" rel="noopener noreferrer">https://support.google.com/analytics/answer/6004245?hl=de</a>.</p>
        <h2 class="adsimple-321216416">Eingebettete Social Media Elemente Datenschutzerklärung</h2>
        <p>Wir binden auf unserer Webseite Elemente von Social Media Diensten ein um Bilder, Videos und Texte anzuzeigen.<br />
        Durch den Besuch von Seiten die diese Elemente darstellen, werden Daten von Ihrem Browser zum jeweiligen Social Media Dienst übertragen und dort gespeichert. Wir haben keinen Zugriff auf diese Daten.<br />
        Die folgenden Links führen Sie zu den Seiten der jeweiligen Social Media Dienste wo erklärt wird, wie diese mit Ihren Daten umgehen:</p>
        <ul class="adsimple-321216416">
        <li class="adsimple-321216416">Instagram-Datenschutzrichtlinie: <a class="adsimple-321216416" href="https://help.instagram.com/519522125107875?tid=321216416" target="_blank" rel="noopener">https://help.instagram.com/519522125107875</a>
        </li>
        <li class="adsimple-321216416">Für YouTube gilt die Google Datenschutzerklärung: <a class="adsimple-321216416" href="https://policies.google.com/privacy?hl=de&amp;tid=321216416" target="_blank" rel="noopener">https://policies.google.com/privacy?hl=de</a>
        </li>
        <li class="adsimple-321216416">Facebook-Datenrichtline: <a class="adsimple-321216416" href="https://www.facebook.com/about/privacy?tid=321216416" target="_blank" rel="noopener">https://www.facebook.com/about/privacy</a>
        </li>
        <li class="adsimple-321216416">Twitter Datenschutzrichtlinie: <a class="adsimple-321216416" href="https://twitter.com/de/privacy?tid=321216416" target="_blank" rel="noopener">https://twitter.com/de/privacy</a>
        </li>
        <li class="adsimple-321216416">Spotify Datenschutzrichtlinie: <a class="adsimple-321216416" href="https://www.spotify.com/de/legal/privacy-policy/" target="_blank" rel="noopener">https://twitter.com/de/privacy</a>
        </li>
        </ul>
        <p style="margin-top:15px;">Quelle: Erstellt mit dem <a title="Datenschutz Generator Deutschland" href="https://www.adsimple.de/datenschutz-generator/" target="_blank" rel="follow" style="text-decoration:none;">Datenschutz Generator</a> von AdSimple in Kooperation mit <a href="https://www.slashtechnik.de" target="_blank" rel="follow" title="">slashtechnik.de</a>
        </p>
    </div>
</body>
</html>
